body , div{
    margin: 0;
    padding: 0;
}

div{
    box-sizing: border-box;
}

.boxes{
    border: 1px solid black;
    height: 50px;
}

.broswer-container{
    width: 100%;
}

.row{
    width: 100%;
    display: flex;
}

.blue{
    background-color: cadetblue;
}
 
/* VERSION MOBILE */

.c1{
    width: 25%;
}

.c2{
    width: 50%;
}

.c3{
    width: 75%;
}

.c4{
    width: 100%;
}

.m1{
    margin-left: 25%;
}

.m2{
    margin-left: 50%;
}

.m3{
    margin-left: 75%;
}

/* VERSION view port plus grand que 700px */
@media (min-width:700px) {

.browser-c1{
    width: 25%;
}

.browser-c2{
    width: 50%;
}

.browser-c3{
    width: 75%;
}

.browser-c4{
    width: 100%;
}

.browser-m1{
    margin-left: 25%;
}

.browser-m2{
    margin-left: 50%;
}

.browser-m3{
    margin-left: 75%;
}
}