body , div{
    margin: 0;
    padding: 0;
}

div{
    box-sizing: border-box;
}

.container{
    width: 100%;
    display: flex;
}

.row{
    width: 100%;
}

.boxes{
    border: 1px solid black;
    height: 50px;
}

.c1{
    width: 25%;
}

.c2{
    width: 50%;
}

.c3{
    width: 75%;
}

.c4{
    width: 100%;
}

.m1{
    margin-left: 25%;
}

.m2{
    margin-left: 50%;
}

.m3{
    margin-left: 75%;
}

.blue{
    background-color: cadetblue;
}