body , div{
    margin: 0;
    padding: 0;
}

div{
    box-sizing: border-box;
}

.container{
    width: 100%;
}

.row{
    width: 100%;
}

.boxes{
    border: 1px solid black;
    height: 50px;
    margin-left: 3%;
    margin-top: 20%;
    margin-right: 3%;
}

.c1{
    width: 20%;
    background-color: coral;
}

.c2{
    width: 20%;
    background-color: darkgreen;
}

.c3{
    width: 20%;
    background-color: darkviolet;
}

.c4{
    width: 20%;
    background-color: dimgrey;
}

.c5{
    width: 20%;
    background-color: hotpink;
}

.c6{
    width: 20%;
    background-color: lightskyblue;
}

.c7{
    width: 20%;
    background-color: orange;
}

.c8{
    width: 20%;background-color: sienna;
}

@media(min-width: 700px){
    .container{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    
    .browser-c1{
        width: 20%;
        background-color: coral;
    }
    
    .browser-c2{
        width: 20%;
        background-color: darkgreen;
    }
    
    .browser-c3{
        width: 20%;
        background-color: darkviolet;
    }
    
    .cbrowser-4{
        width: 20%;
        background-color: dimgrey;
    }
    
    .browser-c5{
        width: 20%;
        background-color: hotpink;
    }
    
    .browser-c6{
        width: 20%;
        background-color: lightskyblue;
    }
    
    .browser-c7{
        width: 20%;
        background-color: orange;
    }
    
    .browser-c8{
        width: 20%;background-color: sienna;
    }

}